*{
    font-family: "Inter", serif;
    padding: 0px;
    margin: 0px;
}

/* Shared styles */
.display-flex{
    display: flex;
}
.shape{
    font-family: "Sacramento", cursive;
    font-weight: 400;
    font-size: 4.875rem;
}
.common-description{
    color:rgba(255, 255, 255, 0.50);
}
.primary-button{
    border: none;
    background-color: #E6533C;
    color: white;
    padding: 16px 40px;
    border-radius: 42px;
}
.common-title{
    font-size: 3rem;
    font-weight: 900;
    color: white;
}
/* Header section */
nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 1.125rem;
}
nav ul li {
    list-style: none;
}
.header{
    align-items: center;
    background: linear-gradient(180deg, #111 0%, rgba(119, 119, 119, 0.00) 100%);
    margin-bottom: 0px;
}
.nav-bar{
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0px auto;
    padding-top: 15px;
}
.nav-items{
    gap: 50px;
}
.site-title{
    font-size: 2.25rem;
    color: #E6533C;
    font-style: italic;
    font-weight: 800;
}
.menu{
    visibility: hidden;
}

/* Banner section */
.banner-buttons{
    margin-top: 20px;
    gap: 15px;
}
.banner-title{
    font-size: 4.875rem;
    font-weight: 900;
    color: white;
}
.banner{
    margin: 0px auto;
    justify-content: space-evenly;
}
.banner-content{
    margin-top: 95px;
}
.banner-img{
    margin-top: 35px;
    margin-bottom: 0px;
}

/* Change your habit */
.change-your-habit{
    text-align: center;
    background-color: #000;
    padding-bottom: 40px;
}
.change-your-imgs{
    color: white;
    max-width: 1100px;
    margin: 0 auto;
}
.change-your-imgs img{
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 55px;
    margin: 0 auto;
}
.chng{
    padding-top: 50px;
}
.chng-desc{
    margin: 50px;
}

/* Extra mile section */
.extra-mile{
    max-width: 975px;
    margin: 0px auto;
    margin-top: 100px;
    justify-content: center;
    border-radius: 18px;
    background: #222;
    gap: 100px;
    padding: 30px 0px;
}
.extra-bg{
    background-color: #000;
    padding: 50px;
}
.extra-run{
    max-width: 366px;
    border-radius: 20px;
}
.extra-content{
    flex-direction: column;
    gap: 20px;
}
th{
    color: white;
    text-align: left;
}
td{
    color: rgba(255, 255, 255, 0.50);
}
table, tr, td, th{
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-collapse: collapse;
    padding: 20px;
}
.bmi-alignment{
    max-width: 1100px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}
.calculate-function{
    color: white;
}
.bmi-title{
    max-width: 675px;
}
.input-field{
    width: 280px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.10);
    margin: 12px;
    border: none;
    border-radius: 8px;
}
.input-field::placeholder{
    padding: 13px;
    color: rgba(255, 255, 255, 0.6);
}
.bmi-chart{
    background: #222;
}
.bmi-part{
    margin: 50px 585px;
}
.bmi-bg{
    background-color: #000;
    padding: 50px;
}
.bmi-tag{
    color: white;
    font-size: 1.75rem;
    padding: 30px 30px 30px 5px;
}
.bmi-tag-alignment{
    padding-left: 13px;
}
.calculate-button{
    display: flex;
    flex-direction: column;
}
.activity{
    width: 87%;
}
.calculate{
    max-width: 225px;
    margin-left: 10px;
    margin-top: 35px;
    margin-bottom: 40px;
}

/* Meet our team */
.meet-our-team-section {
    text-align: center;
    padding: 20px;
    background-color: #000;
}

.meet-our-team-section h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;
}

.meet-our-team-section p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: #bbb;
}

.meet-our-teams-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.10);
    padding: 20px;
    border-radius: 18px;
}

.team-members {
    position: relative;
    overflow: hidden;
}

.team-members img {
    width: 320px;
    height: 320px;
    border-radius: 18px;
}

.texts-on-image {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    text-align: left;
}

.texts-on-image h2 {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.texts-on-image p {
    font-size: 1rem;
    margin: 0;
    color: #fff;
}

/* Footer section */
.footer{
    background-color: #222;
    padding: 50px;
}
.site-title{
    padding-bottom: 20px;
}
.footer-container{
    display: flex;
    /* grid-template-columns: repeat(3, 1fr); */
    max-width: 975px;
    margin: 0 auto;
    /* gap: 150px; */
    justify-content: space-between;
}
.reserved{
    display: flex;
    flex-direction: column;

}
.common-started{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
.footer-container li{
    list-style: none;
}
.footer-a a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);
}
.footer-a li{
    margin: 20px 0px 20px 0px;
}
hr{
    border-color: rgba(255, 255, 255, 0.10);
    margin-top: 20px;
}
.copyright{
    font-size: 1.25rem;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding:40px;
}
.download{
    background-color: transparent;
    border: 1px solid white;
}
.bell{
    position: absolute;
    top: 3060px;
    right: 1330px;
    color: white;
}
.cameron{
    position: absolute;
    top: 3060px;
    right: 1000px;
    color: white;
}
.cody{
    position: absolute;
    top: 3360px;
    right: 1000px;
    color: white;
}
.steward{
    position: absolute;
    top: 3060px;
    right: 660px;
    color: white;
}
.webb{
    position: absolute;
    top: 3360px;
    right: 660px;
    color: white;
}
.russel{
    position: absolute;
    top: 3360px;
    right: 1330px;
    color: white;
}
#activity{
    color: rgba(255, 255, 255, 0.6);
    padding-left: 15px;
}
#gender{
    color: rgba(255, 255, 255, 0.6);
    padding-left: 15px;
}

.first{
    color: white;
    border-radius: 12px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.10);
    max-width: 190px;
    backdrop-filter: blur(10px);
    position: absolute;
    top: 300px;
    right: 350px
}
.ab-title{
    font-size: 2.5rem;
    font-weight: 900;
}
.second{
    color: white;
    display: flex;
    gap: 10px;
    border-radius: 12px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.10);
    max-width: 190px;
    backdrop-filter: blur(10px);
    position: absolute;
    bottom: 330px;
    right: 600px
}
.orange{
    font-size: 2.5rem;
    color: orangered;
    padding-top: 30px;
}





.featured-products{
    background-color: black;
}
.product-details{
    width: 50%;
    text-align: center;


}
.main-div{
    max-width: 975px;
    margin: 0px auto;
}
.product-details img{
    max-width: 335px;
    border-radius: 50px;
    padding-bottom: 15px;
}
.product-title{
    color: wheat;
}
.products-container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 50px;
}
.learn-more{
    color: white;
    background-color: #E6533C;
    border-radius: 45px;
    padding: 8px 12px;
    border: none;
    margin: 20px 0px;
}







/* Responsive design for Mobile device */
@media screen and (max-width: 576px) {
    .body{
        max-width: 393px;
    }
    .header{
        padding-left: 20px;
    }
    .nav-items{
        display: none;
    }
    .title{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .menu{
        visibility: visible;
        color: #FFF;
        width: 25px;
        height: 25px;
    }

    /* banner-section */
    .banner{
        flex-direction: column;
    }
    .banner-buttons{
        flex-direction: row;
    }

    /* change your habit */
    .change-your-habit{
        max-width: 100%;
        margin: 0 auto;
        padding: 20px;
    }
    .change-your-imgs{
        flex-direction: column;
        gap: 50px;
    }

    /* Run Extra Mile */
    .extra-mile{
        flex-direction: column;
        width: 85%;
        /* margin: 0px auto; */
        margin: 65px 0px 0px 0px; 
        padding: 33px;
    }

    .bmi-part{
        margin: 50px 15px;
    }
    .bmi-alignment{
        flex-direction: column;
        margin: 50px 15px;
    }
    .bmi-chart{
        padding: 50px 10px;
    }
    .input-field{
        width: 150px;
        margin-right: 5px;
    }
    .activity{
        width: 322px;
    }

    /* Meet our team */
    .meet-our-teams-container {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .meet-our-team-section h1 {
        font-size: 2rem;
    }

    .texts-on-image h2 {
        font-size: 1.2rem;
    }
    .team-members img {
        width: 100%;
        height: auto;
        border-radius: 18px;
    }

    .texts-on-image p {
        font-size: 0.9rem;
    }

    .footer-container{
        flex-direction: column;
        gap: 30px;
    }
    .main{
        margin: 0px;
    }

    .first{
        top: 650px;
        right: 100px;
    }
    .second{
        bottom: -30px;
        right: 300px
    }

    .products-container{
        flex-direction: column;
        padding-left: 120px;
    }
    .product-details{
        text-align: center;
    }

}